<div id="loginpage" class="activePage page" >
    <div id="startmessage" class="center-vert">
        <h1>First Time?</h1>
        <a href="javascript:void(0)" class="topcoat-button--large--cta" onclick="loginPage.goToRegister();">Register</a>
        <br>
        <br>
        <br>
        <br>

        <h1>Got An Account?</h1>
        <a href="javascript:void(0)" class="topcoat-button--large--cta" onclick="loginPage.goToLogin();">Login</a>
    </div>
    <div id="registerformdiv" class="center-vert">
        <form id="registerUserForm" name="registerUserForm" action="{{registerURL}}" method="post">
            <label for="name">Your Name:</label><br> <input type="text" class="topcoat-text-input wide" name="name" placeholder="Enter Your Name" required><br>
            <label for="email">E-mail Address:</label><br> <input type="text" class="topcoat-text-input wide" name="email" placeholder="Enter Email"  required><br>
            <label for="registerPassword1">Password:</label><br> <input type="password" class="topcoat-text-input wide" name="registerPassword" id="registerPassword" placeholder="Pa$$W0rD3" required><br>
            <label for="registerPassword2">Re-Type Password:</label><br> <input type="password" class="topcoat-text-input wide" name="registerPasswordConfirm" id="registerPasswordConfirm" placeholder="Pa$$W0rD3"  required><br>
            <br />
            <input type="submit" class="topcoat-button--cta" value="Register"/>
            <input type="hidden" name="appName" value="gpabot" />
            <br />
            <br />
            <br />
            <a href="javascript:void(0)" class="topcoat-button--cta bottomButton" onclick="loginPage.goToLogin();">or Login</a>
        </form>
    </div>
    <div id="loginformdiv" class="center-vert">
        <form id="loginForm" action="{{loginURL}}">
            <label for="loginEmail">Email: </label><br> <input type="text" class="topcoat-text-input wide" name="email" placeHolder="Enter Email" required><br>
            <label for="loginPassword">Password: </label><br> <input type='password' class="topcoat-text-input wide" name='password' placeholder="Enter Password" required><br>
            <input type="hidden" name="appName" value="gpabot" />
            <br />
            <input type='submit' class="topcoat-button--cta" value='Login'>
            <br />
            <br />
            <br />
            <a href="javascript:void(0)" class="topcoat-button--cta bottomButton" onclick="loginPage.goToRegister();">or Register</a>                            
        </form>
    </div>
</div>