body {
  text-align: center;
  color: white;
  background-image: url(../img/background.jpg);
  background-color: #000000;
  background-size: 100%;
  background-repeat: repeat;
  background-position: center top; }
  body:before, body.clearfix:after {
    z-index: -1;
    content: "";
    position: fixed;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(transparent, black);
    background-repeat: repeat-x; }

#mobile-alert {
  height: 100%;
  width: 100%;
  background-color: #E5E5E5;
  background: linear-gradient(#f5f5f5, #7d7d7d);
  color: black;
  position: fixed;
  z-index: 100; }
  @media (min-device-width: 1224px) {
    #mobile-alert {
      display: none; } }
  @media (min-device-width: 1824px) {
    #mobile-alert {
      display: none; } }
  #mobile-alert .mobile-alert-content {
    padding-top: 128px;
    font-size: 32px !important; }
    #mobile-alert .mobile-alert-content .nb-button, #mobile-alert .mobile-alert-content .nb-arrow {
      font-size: 48px;
      padding: 10px; }

#navpane {
  position: Fixed;
  left: 50%;
  top: 0;
  margin-top: 0;
  margin-left: -250px;
  width: 500px;
  height: 50px;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  #navpane ul {
    width: 100%;
    color: black;
    margin: 0;
    padding: 0; }
    #navpane ul li {
      width: 25%;
      float: left;
      display: table; }
      #navpane ul li a, #navpane ul li a:visited {
        display: table-cell;
        height: 50px;
        font-weight: bold;
        background-color: #246BB2;
        text-align: center;
        vertical-align: middle;
        padding: 4px;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 20px;
        border: 2px solid black;
        outline: 0; }
      #navpane ul li a:hover {
        background-color: #5089C1;
        /* IE 9 */
        -webkit-transform: skew(0deg, 2deg);
        /* Chrome, Safari, Opera */
        transform: skew(0deg, 2deg);
        box-shadow: 5px 10px 5px #000000;
        border: 2px solid black;
        outline: 0; }

.navbarspacer {
  width: 1%;
  background-color: black; }

#scrollTable {
  width: 404%;
  height: 100%;
  margin-top: -7px;
  -webkit-scroll-snap-points-x: repeat(100%);
      -ms-scroll-snap-points-x: repeat(100%);
          scroll-snap-points-x: repeat(100%); }

.nb-section {
  vertical-align: top;
  padding: 70px 100px 0px 100px;
  List-style-type: none;
  width: 25%;
  opacity: 0;
  transition: opacity 500ms;
  transition-delay: 500ms; }
  .nb-section.nb-active-section {
    opacity: 1; }
  .nb-section.nb-visited-section {
    opacity: 1;
    transition-delay: 0ms; }

.nb-half {
  width: 50%; }

.nb-quarter {
  width: 25%; }

.nb-three-quarter {
  width: 75%; }

.nb-fill-height {
  height: 100%; }

.nb-fill-width {
  width: 100%; }

.nb-float {
  float: left; }
  .nb-float.nb-left {
    float: left; }
  .nb-float.nb-right {
    float: right; }

.nb-clear {
  clear: both; }
  .nb-clear.nb-left {
    clear: left; }
  .nb-clear.nb-right {
    clear: right; }

.clearfix {
  zoom: 1; }
  .clearfix:before, .clearfix:after {
    content: "";
    display: table; }
  .clearfix:after {
    clear: both; }

.nb-center {
  margin-left: auto;
  margin-right: auto; }

.nb-center-vert {
  display: table; }
  .nb-center-vert > *:not(.nb-no-center) {
    display: table-cell;
    vertical-align: middle; }

a {
  text-decoration: none;
  font-weight: bold;
  color: white; }

p, .nb-text {
  font-size: 25px; }

li {
  font-size: 25px; }

h1, .nb-title {
  font-size: 40px; }

h2, .nb-sub-title {
  font-size: 35px; }

h3 {
  font-size: 30px; }

h1.nb-no-margin, h2.nb-no-margin, h3.nb-no-margin, h4.nb-no-margin, h5.nb-no-margin, p.nb-no-margin, div.nb-no-margin {
  -webkit-margin-after: 0;
  -webkit-margin-before: 0; }

h1 .nb-huge, h2 .nb-huge, h3 .nb-huge, h4 .nb-huge, h5 .nb-huge, p .nb-huge, div .nb-huge {
  font-size: 128px; }

h1 .nb-big, h2 .nb-big, h3 .nb-big, h4 .nb-big, h5 .nb-big, p .nb-big, div .nb-big {
  font-size: 80px; }

ul {
  List-style-type: none; }

.nb-horiz-spacer {
  height: 32px; }
  .nb-horiz-spacer.nb-tiny {
    height: 8px; }
  .nb-horiz-spacer.nb-small {
    height: 16px; }
  .nb-horiz-spacer.nb-big {
    height: 48px; }
  .nb-horiz-spacer.nb-huge {
    height: 64px; }

.nb-vert-spacer {
  width: 32px; }
  .nb-vert-spacer.nb-tiny {
    width: 8px; }
  .nb-vert-spacer.nb-small {
    width: 16px; }
  .nb-vert-spacer.nb-big {
    width: 48px; }
  .nb-vert-spacer.nb-huge {
    width: 64px; }

.nb-image-blur:before, .nb-image-blur.clearfix:after {
  box-shadow: inset 0px 0px 30px 7px rgba(50, 50, 50, 0.59);
  border-radius: 25%; }

.shadow {
  display: block;
  position: relative; }

.shadow img {
  display: block; }

.shadow::before {
  display: block;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: inset 0px 0px 30px 30px rgba(0, 0, 0, 0.2); }

.nb-main-pic {
  margin-left: 64px;
  margin-bottom: 16px; }

ul.nb-no-margin, li.nb-no-margin {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0; }

.nb-download-table, .nb-download-table th, .nb-download-table td {
  z-index: 4;
  margin: auto auto auto auto;
  border: 2px solid white;
  border-collapse: collapse;
  padding: 5px;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  font-size: 25px; }
  .nb-download-table td {
    height: 10px;
    width: 100px; }

.nb-button, .nb-arrow {
  text-decoration: none;
  font-size: 30px;
  z-index: 1;
  margin: 5px auto 5px auto;
  background-color: #246BB2;
  border-width: 3px;
  border-color: #194B7D;
  border-style: solid;
  border-radius: 20px;
  text-align: center;
  vertical-align: middle;
  color: white;
  text-decoration: none; }
  .nb-button:hover, .nb-arrow:hover {
    background-color: #5089C1;
    text-decoration: none;
    color: white; }

.nb-arrow {
  display: inline-block;
  text-align: center;
  position: relative;
  border-radius: 3px;
  border-width: 3px;
  text-decoration: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .nb-arrow:hover .triangle {
    border-left-color: #5089C1; }
  .nb-arrow *:first-child {
    display: block;
    font-size: 16px;
    text-align: center;
    padding: 10px 30px 10px 30px;
    margin: 0 auto;
    text-transform: uppercase;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .nb-arrow .triangle {
    padding: 0;
    position: absolute;
    right: -39px;
    top: -1px;
    height: 0;
    width: 0;
    z-index: 2;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 42px solid #246BB2;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none; }
    .nb-arrow .triangle:hover {
      background-color: initial;
      text-decoration: none;
      color: #194B7D;
      border-left: 42px solid #5089C1; }
  .nb-arrow .border-triangle {
    padding: 0;
    position: absolute;
    right: -45px;
    top: -3px;
    height: 0;
    width: 0;
    z-index: 1;
    border-top: 22px solid transparent;
    border-bottom: 22px solid transparent;
    border-left: 44px solid #194B7D;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none; }
    .nb-arrow .border-triangle:hover {
      background-color: initial;
      text-decoration: none; }

.nb-web-locations {
  min-width: 450px;
  width: 60%; }
  .nb-web-locations a {
    margin: 4px;
    height: 100px; }
    .nb-web-locations a img {
      height: 100px; }

.nb-resume-button {
  border-radius: 0;
  height: 92px !important;
  font-size: 78px;
  display: inline-block;
  vertical-align: top;
  padding: 0 16px; }

.nb-projects-grid {
  width: 100%;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -moz-box-wrap: wrap;
  -webkit-box-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flexbox-wrap: wrap;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
  -moz-box-direction: row;
  -webkit-box-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flexbox-direction: row;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
          flex-direction: row;
  -webkit-align-items: start;
  -ms-flex-align: start;
  align-items: start;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around; }
  .nb-projects-grid .nb-project {
    -webkit-flex: 1 1 0%;
    -ms-flex: 1 1 0%;
    flex: 1 1 0%;
    min-width: 300px;
    margin: 8px;
    padding: 8px;
    background-color: #246BB2;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -moz-box-direction: column;
    -webkit-box-direction: column;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flexbox-direction: column;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
            flex-direction: column;
    -webkit-align-items: start;
    -ms-flex-align: start;
    align-items: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
    .nb-projects-grid .nb-project:hover {
      background-color: #5089C1; }
      .nb-projects-grid .nb-project:hover .nb-content {
        background-color: #1a79b0; }
      .nb-projects-grid .nb-project:hover h1 {
        border-bottom: 2px solid #1a79b0; }
    .nb-projects-grid .nb-project h1 {
      border-bottom: 2px solid #194B7D;
      margin-bottom: 8px; }
    .nb-projects-grid .nb-project .flex-spacer {
      -webkit-flex: 1 1 0%;
      -ms-flex: 1 1 0%;
      flex: 1 1 0%; }
    .nb-projects-grid .nb-project .nb-content {
      background-color: #194B7D;
      padding: 8px; }
      .nb-projects-grid .nb-project .nb-content ul {
        text-align: start;
        list-style-type: initial; }
        .nb-projects-grid .nb-project .nb-content ul li {
          font-size: 14px; }
    .nb-projects-grid .nb-project.nb-half {
      max-width: 50%; }
    .nb-projects-grid .nb-project.nb-quarter {
      max-width: 25%; }

/*# sourceMappingURL=index.css.map */