<div class="courseItem item" data-courseId="{{courseId}}">
    <div class="courseItemContent itemContent">
        <h1>{{courseName}}</h1>
        <p>Instructor: {{instructor}}</p>
        <p>Credits: {{credits}}</p>
        <p># of assignments {{assigns.length}}</p>
        <p>Total Points: {{tPts}}&Tab; Scored Points: {{sPts}}</p>
        
    </div>
    <div class="itemButton "><div class="center-wrapper fill-client"><div class="center-vert"><i class="fa fa-chevron-right"></i></div></div></div>
</div>