@import "variables";
@import "mixins";

.nb-download-table{
    z-index:4;
    margin: auto auto auto auto;
    border:2px solid white;
    border-collapse:collapse;
    padding:5px;
    vertical-align:middle;
    text-align:center;
    text-decoration:none;
    font-size:25px;
    td{
        height: 10px;
        width:100px;
    }
    th,td{
        @extend .nb-download-table;
    }
}
.nb-button{
    text-decoration:none;
    font-size:30px;
    z-index:1;
    margin: 5px auto 5px auto;
    background-color: #246BB2;
    border-width:3px;
    border-color: $main-border-color;
    border-style: solid;
    border-radius:20px;
    text-align:center;
    vertical-align:middle;
    color:white;
    text-decoration:none;
    &:hover{
        background-color: $secondary-main-color;
        text-decoration:none;
        color:	white;
    }
    &.nb-square{
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
    }
}

.nb-arrow{
    @extend .nb-button;
    display:inline-block;
    text-align:center;
    position:relative;
    border-radius: 3px;
    $border-width: 3px;
    border-width: $border-width;
    text-decoration: none;
    @include no-user-select();

    &:hover{
        .triangle{
            border-left-color: $secondary-main-color;
        }
    }


    *:first-child {
        display:block;
        font-size: 16px;
        text-align: center;
        padding:10px 30px 10px 30px;
        margin:0 auto;
        text-transform:uppercase;
        @include no-user-select();
    }
    $arrow-width: 42px;
    $arrow-height: 20px;
    .triangle {
        padding:0;
        position: absolute;
        right: (($arrow-width*-1)+$border-width);
        top: -1px;
        height: 0;
        width: 0;
        z-index: 2;
        border-top: $arrow-height solid transparent;
        border-bottom: $arrow-height solid transparent;
        border-left: $arrow-width solid $main-color;

        @include no-user-select();
        &:hover{
            background-color: initial;
            text-decoration:none;
            color:	#194B7D;
            border-left: $arrow-width solid $secondary-main-color;
        }
    }
    .border-triangle {
        padding:0;
        position: absolute;
        right: (($arrow-width*-1)-$border-width);
        top: (($border-width*-1));
        height: 0;
        width: 0;
        z-index: 1;
        border-top: ($arrow-height+($border-width - 1)) solid transparent;
        border-bottom: ($arrow-height+($border-width - 1)) solid transparent;
        border-left: ($arrow-width+($border-width - 1)) solid $main-border-color;
        @include no-user-select();
        &:hover{
            background-color: initial;
            text-decoration:none;
        }
    }
}
