$background-color: #000000 !default;
$main-color: #246BB2 !default;
$secondary-main-color: #5089C1 !default;
$accent-color: #05C6E8 !default;
$secondary-accent-color: #00849B !default;
$main-border-color: #194B7D !default;
$secondary-border-color: #1a79b0 !default;

$sections: 4;

$breakpoints: (
        'phone': (min-device-width : 320px, max-device-width : 480px),
        'phone-landscape': (min-device-width : 480px),
        'phone-portrait': (max-width : 320px),
        'tablet': (min-device-width : 768px, max-device-width : 1024px),
        'tablet-landscape': (min-device-width : 768px, max-device-width : 1024px, orientation : landscape),
        'tablet-portrait': (min-device-width : 768px, max-device-width : 1024px, orientation : portrait),
        'pc': (min-device-width : 1224px),
        'large': (min-device-width : 1824px),
);
