.nb-web-locations{
    min-width: 450px;
    width:60%;
    a{
        margin: 4px;
        height: 100px;
        img{
            height: 100px;
        }
    }
}
.nb-resume-button{
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    height: 92px !important;
    font-size: 78px;
    display: inline-block;
    vertical-align: top;
    padding: 0 16px;
}
