@import "variables";
@import "mixins";

$navpane-width: ($sections*125px);
$navpane-height: 50px;

#navpane{
    position:Fixed;
    left:50%;
    top: 0;
    margin-top: 0;
    margin-left: -($navpane-width/2);
    width:$navpane-width;
    height:$navpane-height;
    z-index: 101;
    @include no-user-select();
    ul{
        width: 100%;
        color:black;
        margin:0;
        padding:0;

        li{
            width: (100%/$sections);
            float:left;
            display:table;
            a, a:visited {
                display: table-cell;
                //width:91%;
                height: $navpane-height;
                font-weight:bold;
                background-color: $main-color;
                text-align:center;
                vertical-align: middle;
                padding:4px;
                text-decoration:none;
                text-transform:uppercase;
                font-size:20px;
                border:2px solid black;
                outline: 0;
            }
            a:hover{
                background-color: $secondary-main-color;
                -ms-transform: skew(0deg,2deg); /* IE 9 */
                -webkit-transform: skew(0deg,2deg); /* Chrome, Safari, Opera */
                transform: skew(0deg,2deg);
                box-shadow: 5px 10px 5px #000000;
                border:2px solid black;
                outline: 0;
            }
        }
    }
}
.navbarspacer{
    width:1%;
    background-color:black;
}